@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p>Velg en av de følgende alternativene for å navigere til de forskjellige sidene:</p>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Ansatte</a>
        <a asp-controller="VacationRequests" asp-action="Index" class="btn btn-primary">Ferieforespørsel</a>
        <a asp-controller="Schedules" asp-action="Index" class="btn btn-primary">Terminlister</a>
    </div>

    <p class="mt-4">
        Lær mer om <a href="https://learn.microsoft.com/aspnet/core">bygging av webapplikasjoner med ASP.NET Core</a>.
    </p>
</div>